.navbar{
    display: flex;
    background: var(--nav);
    padding: 9px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 54px;
    align-items: center;
}

/* mobile-screens */
@media screen and (max-width: 768px) {
    .navbar {
        top: unset;
        bottom: 0;
    }
}

.navbar button{
    padding: 9px;
    color: white;
    width: 100%;
    cursor: pointer;
    border-radius: 9px;
    transition: 0.3s;
    text-align: center;
    background: transparent;
    border: none;
}

.navbar button.active{
    background: rgba(255,0,0,0.18);
}

.navbar button:hover{
    background: rgba(255,255,255,0.09);
}