.tooltip {
    position: absolute;
    background: var(--nav);
    color: var(--luminate);
    padding: 9px;
    border-radius: 9px;
    font-size: 14px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    pointer-events: none;
    transform: translateY(-100%);
    margin-top: -6px;
}

*:hover > .tooltip,
*:focus > .tooltip {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 768px) {
    .tooltip {
        font-size: 12px;
        padding: 6px;
        max-width: 150px;
    }
}