.map-grid{
    width: 360px;
    height: 360px;
    position: relative;
}

.map-node{
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 21px;
    text-shadow: 1px 1px rgba(0,0,0,0.18);
}

button.map-node{
    width: 30px;
    height: 30px;
    margin-left: -3px;
    margin-top: -3px;
    font-size: 24px;
}

